html
  head
    title W-profit media buying agency
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    link(rel='stylesheet' href='/assets/css/style.css')
    ling(rel='shortcut icon' type='image/png' href=require('../images/w_profit_favicon.png'))
    meta(property='og:title' content='W-profit media buying agency')
    meta(property='og:description' content='W-profit is a media buying agency, that offers a wide range of traffic sources, including social, in-app and much more.')
    meta(property='og:image' content='http://w-profit.com/logo.png')
    script(defer src='/assets/js/index.js')
  body
    header.header.header--desktop
      .header__item(data-rel="block_1") Main
      .header__item(data-rel="block_2") Traffic sources
      .header__item(data-rel="block_3") PRICING MODELS
      .header__item(data-rel="block_4") VERTICALS
      .header__item(data-rel="block_5") CONTACTS
    header.header.header--mobile
      .header__burger
      .header__m_menu
        .header__m_menu__item(data-rel="block_1") Main
        .header__m_menu__item(data-rel="block_2") Traffic sources
        .header__m_menu__item(data-rel="block_3") PRICING MODELS
        .header__m_menu__item(data-rel="block_4") VERTICALS
        .header__m_menu__item(data-rel="block_5") CONTACTS
    section.block.block_1
      img(src=require('../images/block-1-bg.svg')).block_1__bg
      .wrapper
        img(src=require('../images/w-profit-logo.png') width=318 height=86).block_1__logo
        h1.title.block_1__title We are W-profit —
          br
          | performance media buying agency
        .block_1__items
          .block_1__item
            p Outstanding media buying experts
          .block_1__item
            p Large amounts of traffic
            span up to 40 000 installs daily
          .block_1__item
            p In-house creatives production team
    section.block.block_2
      .wrapper
        h1.title.block_2__title TRAFFIC SOURCES
        .block_2__items
          .block_2__item
            img(src=require('../images/facebook.png') width=102 height=102).block_2__icon
            p.block_2__caption Facebook
          .block_2__item
            img(src=require('../images/instagram.png') width=102 height=102).block_2__icon
            p.block_2__caption Instagram
          .block_2__item
            img(src=require('../images/facebook-network.png') width=102 height=102).block_2__icon
            p.block_2__caption Facebook
              br
              | Audience network
          .block_2__item
            img(src=require('../images/snapchat.png') width=102 height=102).block_2__icon
            p.block_2__caption Snapchat
          .block_2__item
            img(src=require('../images/google.png') width=102 height=102).block_2__icon
            p.block_2__caption Google
          .block_2__item
            img(src=require('../images/applovin.png') width=102 height=102).block_2__icon
            p.block_2__caption Applovin
    section.block.block_3
      img(src=require('../images/block-3-bg.svg')).block_3__bg
      .wrapper
        h1.title.block_3__title pricing models
        .block_3__items
          .block_3__item
            .block_3__caption CPI
            .block_3__text cost per install
          .block_3__item
            .block_3__caption CPL
            .block_3__text cost per lead
          .block_3__item
            .block_3__caption CPS
            .block_3__text cost per sale
          .block_3__item
            .block_3__caption Revenue share
    section.block.block_4
      .wrapper
        h1.title.block_4__title Verticals
        .block_4__items
          .block_4__item
            img(src=require('../images/verticals-1.png')).block_4__logo
            p.block_4__caption E-commerce
          .block_4__item
            img(src=require('../images/verticals-2.png')).block_4__logo
            p.block_4__caption Games
          .block_4__item
            img(src=require('../images/verticals-3.png')).block_4__logo
            p.block_4__caption Utilities
          .block_4__item
            img(src=require('../images/verticals-4.png')).block_4__logo
            p.block_4__caption Travel
    section.block.block_5
      .wrapper
        h1.title.block_5__title Contacts
        .block_5__content
          .block_5__content_item
            .block_5__line Prevezis 13 Flat/Office 101 Nicosia,
              br
              |1065 Cyprus
            .block_5__line +7 927 0077657
          .block_5__content_item
            a(href='mailto:hello@w-profit.com').block_5__link hello@w-profit.com
            a(href='https://cyprus.hh.ru/employer/3406479' target='_blank').block_5__link Career
          .block_5__content_item
            .block_5__small_text W-profit is a mobile ad tech agency. We are dedicated to empowering our partners with sophisticated solutions that make it simple for app developers to connect with target audiences.
              br
              br
              |© 2018 W-profit LTD – All rights reserved.
          .block_5__content_item
            a(href='https://www.linkedin.com/company/w-profit' target='_blank')
              img(src=require('../images/linkedin.png'))
            a(href='https://www.facebook.com/W-profit-443121196113356/' target='_blank')
              img(src=require('../images/facebook-2.png'))
